<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.student.hellostudent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".A2Step2" />
        <activity android:name=".A2Step3" />
        <activity android:name=".A2Step1Section4V15" />
        <activity android:name=".A2Step1Section4V14" />
        <activity android:name=".A2Step1Section4V13" />
        <activity android:name=".A2Step1Section4V12" />
        <activity android:name=".A2Step1Section4V11" />
        <activity android:name=".A2Step1Section4V10" />
        <activity android:name=".A2Step1Section4V9" />
        <activity android:name=".A2Step1Section4V7" />
        <activity android:name=".A2Step1Section4V8" />
        <activity android:name=".A2Step1Section4V6" />
        <activity android:name=".A2Step1Section4V5" />
        <activity android:name=".A2Step1Section4V4" />
        <activity android:name=".A2Step1Section4V3" />
        <activity android:name=".A2Step1Section4V2" />
        <activity android:name=".A2Step1Section4V1" />
        <activity android:name=".A2Step1Section3V16" />
        <activity android:name=".A2Step1Section3V15" />
        <activity android:name=".A2Step1Section3V14" />
        <activity android:name=".A2Step1Section3V13" />
        <activity android:name=".A2Step1Section3V12" />
        <activity android:name=".A2Step1Section3V11" />
        <activity android:name=".A2Step1Section3V10" />
        <activity android:name=".A2Step1Section3V9" />
        <activity android:name=".A2Step1Section3V8" />
        <activity android:name=".A2Step1Section3V7" />
        <activity android:name=".A2Step1Section3V6" />
        <activity android:name=".A2Step1Section3V5" />
        <activity android:name=".A2Step1Section3V4" />
        <activity android:name=".A2Step1Section3V3" />
        <activity android:name=".A2Step1Section3V2" />
        <activity android:name=".A2Step1Section3V1" />
        <activity android:name=".A2Step1Section2" />
        <activity android:name=".A2Step1Section1" />
        <activity android:name=".A2Step2Section1" />
        <activity android:name=".A2Step1" />
        <activity android:name=".A2Steps" />
        <activity android:name=".A2Step2Section2V1" />
        <activity android:name=".A2Step2Section2V2" />
        <activity android:name=".A2Step2Section2V3" />
        <activity android:name=".A2Step2Section2V4" />
        <activity android:name=".A2Step2Section2V5" />
        <activity android:name=".A2Step2Section2V6" />
        <activity android:name=".A2Step2Section2V7" />
        <activity android:name=".A2Step2Section2V8" />
        <activity android:name=".A2Step2Section2V9" />
        <activity android:name=".A2Step2Section2V10" />
        <activity android:name=".A2Step2Section2V11" />
        <activity android:name=".A2Step2Section2V12" />
        <activity android:name=".A2Step2Section2V13" />
        <activity android:name=".A2Step2Section2V14" />
        <activity android:name=".A2Step2Section2V15" />
        <activity android:name=".A2Step2Section2V16" />
        <activity android:name=".A2Step2Section2V17" />
        <activity android:name=".A2Step2Section2V18" />
        <activity android:name=".A2Step2Section3V1" />
        <activity android:name=".A2Step2Section3V2" />
        <activity android:name=".A2Step2Section3V3" />
        <activity android:name=".A2Step2Section3V4" />
        <activity android:name=".A2Step2Section3V5" />
        <activity android:name=".A2Step2Section3V6" />
        <activity android:name=".A2Step2Section3V7" />
        <activity android:name=".A2Step2Section3V8" />
        <activity android:name=".A2Step2Section3V9" />
        <activity android:name=".A2Step2Section3V10" />
        <activity android:name=".A2Step2Section3V11" />
        <activity android:name=".A2Step2Section3V12" />
        <activity android:name=".A2Step2Section3V13" />
        <activity android:name=".A2Step2Section3V14" />
        <activity android:name=".A2Step2Section3V15" />
        <activity android:name=".A2Step2Section3V16" />
        <activity android:name=".A2Step2Section3V17" />
        <activity android:name=".A2Step3Section2V1" />
        <activity android:name=".A2Step3Section2V2" />
        <activity android:name=".A2Step3Section2V3" />
        <activity android:name=".A2Step3Section2V4" />
        <activity android:name=".A2Step3Section2V5" />
        <activity android:name=".A2Step3Section2V6" />
        <activity android:name=".A2Step3Section2V7" />
        <activity android:name=".A2Step3Section2V8" />
        <activity android:name=".A2Step3Section2V9" />
        <activity android:name=".A2Step3Section2V10" />
        <activity android:name=".A2Step3Section2V11" />
        <activity android:name=".A2Step3Section3V1" />
        <activity android:name=".A2Step3Section3V2" />
        <activity android:name=".A2Step3Section3V3" />
        <activity android:name=".A2Step3Section3V4" />
        <activity android:name=".A2Step3Section3V5" />
        <activity android:name=".A2Step3Section3V6" />
        <activity android:name=".A2Step3Section3V7" />
        <activity android:name=".A2Step3Section3V8" />
        <activity android:name=".A2Step3Section3V9" />
        <activity android:name=".A2Step3Section3V10" />
        <activity android:name=".A2Step3Section3V11" />
        <activity android:name=".A2Step3Section3V12" />
        <activity android:name=".A1Step2Section3" />
        <activity android:name=".A1Step2Section4Question6" />
        <activity android:name=".A1Step2Section4Question7" />
        <activity android:name=".A1Step2Section4Question8" />
        <activity android:name=".A1Step2Section4Question9" />
        <activity android:name=".A1Step2Section4Question2" />
        <activity android:name=".A1Step2Section4Question3" />
        <activity android:name=".A1Step2Section4Question4" />
        <activity android:name=".A1Step2Section4Question5" />
        <activity android:name=".A1Step2Section4Question1" />
        <activity android:name=".A1Step2Section4Question10" />
        <activity android:name=".A1Step2Section1" />
        <activity android:name=".A1Step2Section2V1" />
        <activity android:name=".A1Step1Section2V1" />
        <activity android:name=".A1Step1Section2V2" />
        <activity android:name=".A1Step1Section2V3" />
        <activity android:name=".A1Step1Section2V4" />
        <activity android:name=".A1Step1Section2V5" />
        <activity android:name=".A1Step1Section2V6" />
        <activity android:name=".A1Step1Section2V7" />
        <activity android:name=".A1Step1Section2V8" />
        <activity android:name=".A1Step1Section2V9" />
        <activity android:name=".A1Step1Section2V10" />
        <activity android:name=".A1Step2Section2V2" />
        <activity android:name=".A1Step2Section2V3" />
        <activity android:name=".A1Step2Section2V4" />
        <activity android:name=".A1Step2Section2V5" />
        <activity android:name=".A1Step2Section2V6" />
        <activity android:name=".A1Step2Section2V7" />
        <activity android:name=".A1Step2Section2V8" />
        <activity android:name=".A1Step2Section2V9" />
        <activity android:name=".A1Step2Section2V10" />
        <activity android:name=".A1Step2Sections" />
        <activity android:name=".A1Step1Section4Question1" />
        <activity android:name=".A1Step1Section4Question2" />
        <activity android:name=".A1Step1Section4Question3" />
        <activity android:name=".A1Step1Section4Question4" />
        <activity android:name=".A1Step1Section4Question5" />
        <activity android:name=".A1Step1Section4Question6" />
        <activity android:name=".A1Step1Section4Question7" />
        <activity android:name=".A1Step1Section4Question8" />
        <activity android:name=".A1Step1Section4Question9" />
        <activity android:name=".A1Step1Section4Question10" />
        <activity android:name=".VerbsListV2" />
        <activity android:name=".VerbsListV3" />
        <activity android:name=".VerbsListV4" />
        <activity android:name=".VerbsListV5" />
        <activity android:name=".VerbsListV6" />
        <activity android:name=".VerbsListV7" />
        <activity android:name=".VerbsListV8" />
        <activity android:name=".VerbsListV9" />
        <activity android:name=".VerbsListV10" />
        <activity android:name=".VerbsListV11" />
        <activity android:name=".VerbsListV12" />
        <activity android:name=".VerbsListV13" />
        <activity android:name=".VerbsListV14" />
        <activity android:name=".VerbsListV15" />
        <activity android:name=".VerbsListV16" />
        <activity android:name=".VerbsListV17" />
        <activity android:name=".VerbsListV18" />
        <activity android:name=".VerbsListV19" />
        <activity android:name=".VerbsListV20" />
        <activity android:name=".VerbsListV21" />
        <activity android:name=".VerbsListV22" />
        <activity android:name=".VerbsListV23" />
        <activity android:name=".VerbsListV24" />
        <activity android:name=".VerbsListV25" />
        <activity android:name=".VerbsListV26" />
        <activity android:name=".VerbsListV27" />
        <activity android:name=".VerbsListV28" />
        <activity android:name=".VerbsListV29" />
        <activity android:name=".VerbsListV30" />
        <activity android:name=".VerbsListV31" />
        <activity android:name=".VerbsListV32" />
        <activity android:name=".VerbsListV33" />
        <activity android:name=".VerbsListV34" />
        <activity android:name=".VerbsListV35" />
        <activity android:name=".VerbsListV36" />
        <activity android:name=".VerbsListV37" />
        <activity android:name=".VerbsListV38" />
        <activity android:name=".VerbsListV39" />
        <activity android:name=".VerbsListV40" />
        <activity android:name=".VerbsListV41" />
        <activity android:name=".VerbsListV42" />
        <activity android:name=".VerbsListV43" />
        <activity android:name=".VerbsListV44" />
        <activity android:name=".VerbsListV45" />
        <activity android:name=".VerbsListV46" />
        <activity android:name=".VerbsListV47" />
        <activity android:name=".VerbsListV48" />
        <activity android:name=".VerbsListV49" />
        <activity android:name=".VerbsListV50" />
        <activity android:name=".VerbsListV51" />
        <activity android:name=".VerbsListV52" />
        <activity android:name=".VerbsListV53" />
        <activity android:name=".VerbsListV54" />
        <activity android:name=".VerbsListV55" />
        <activity android:name=".VerbsListV56" />
        <activity android:name=".VerbsListV57" />
        <activity android:name=".VerbsListV58" />
        <activity android:name=".VerbsListV59" />
        <activity android:name=".VerbsListV60" />
        <activity android:name=".VerbsListV1" />
        <activity android:name=".A1Step1Section3" />
        <activity android:name=".A1Step1Section1" />
        <activity android:name=".A1Step1Sections" />
        <activity android:name=".A1Steps" />
        <activity android:name=".A1Step3Sections" />
        <activity android:name=".A1Step3Section1" />
        <activity android:name=".A1Step3Section2V1" />
        <activity android:name=".A1Step3Section2V2" />
        <activity android:name=".A1Step3Section2V3" />
        <activity android:name=".A1Step3Section2V4" />
        <activity android:name=".A1Step3Section2V5" />
        <activity android:name=".A1Step3Section2V6" />
        <activity android:name=".A1Step3Section2V7" />
        <activity android:name=".A1Step3Section2V8" />
        <activity android:name=".A1Step3Section2V9" />
        <activity android:name=".A1Step3Section2V10" />
        <activity android:name=".A1Step3Section3" />
        <activity android:name=".A1Step3Section4Question1" />
        <activity android:name=".A1Step3Section4Question2" />
        <activity android:name=".A1Step3Section4Question3" />
        <activity android:name=".A1Step3Section4Question4" />
        <activity android:name=".A1Step3Section4Question5" />
        <activity android:name=".A1Step3Section4Question6" />
        <activity android:name=".A1Step3Section4Question7" />
        <activity android:name=".A1Step3Section4Question8" />
        <activity android:name=".A1Step3Section4Question9" />
        <activity android:name=".A1Step3Section4Question10" />
        <activity android:name=".RevisionV1" />
        <activity android:name=".RevisionV2" />
        <activity android:name=".RevisionV3" />
        <activity android:name=".RevisionV4" />
        <activity android:name=".RevisionV5" />
        <activity android:name=".RevisionV6" />
        <activity android:name=".RevisionV7" />
        <activity android:name=".RevisionV8" />
        <activity android:name=".RevisionV9" />
        <activity android:name=".RevisionV10" />
        <activity android:name=".RevisionV11" />
        <activity android:name=".RevisionV12" />
        <activity android:name=".RevisionV13" />
        <activity android:name=".RevisionV14" />
        <activity android:name=".RevisionV15" />
        <activity android:name=".RevisionV16" />
        <activity android:name=".RevisionV17" />
        <activity android:name=".RevisionV18" />
        <activity android:name=".RevisionV19" />
        <activity android:name=".RevisionV20" />
        <activity android:name=".RevisionV21" />
        <activity android:name=".RevisionV22" />
        <activity android:name=".RevisionV23" />
        <activity android:name=".RevisionV24" />
        <activity android:name=".RevisionV25" />
        <activity android:name=".RevisionV26" />
        <activity android:name=".A2Step3Section1" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>